@import "tailwindcss";

@theme {
  --animate-blob: blob 20s infinite ease-in-out;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(80px, -120px) scale(1.1);
    }
    66% {
      transform: translate(-60px, 60px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}
